table {  
  border-collapse: collapse;  
  width: 600px;
  margin: auto auto;
}

td, th {
  border: 2px solid silver;
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 2px 2px 2px 2px
}
